ACTION=="add", KERNEL=="js*", ATTRS{name}=="Xbox*", RUN+="/bin/su starkit -l -s /bin/bash -c '/home/starkit/demo/start.sh %E{DEVNAME}'"
ACTION=="remove", ATTRS{name}=="Xbox*", RUN+="/home/starkit/demo/clean.sh"
